<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6S2WJM8ZKC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6S2WJM8ZKC');
</script>
<title>Chevrolet Tavera</title>
<meta name="description" content="Chevrolet Tavera is General Motors’ improved MUV. Know more about chevrolet Tavera price in India, Tavera specifications and Chevrolet Tavera Features such as mileage and comfort." />
<meta name="keywords" content="Chevrolet Tavera, Chevrolet Tavera specifications, Chevrolet Tavera India, Chevrolet Tavera price, Chevrolet Tavera price in India, Chevrolet tavera mileage, tavera mileage, Chevrolet tavera models, Chevrolet Tavera reviews, Tavera price in India, Tavera reviews" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="https://automobiles.mapsofindia.com/css/inner-page-style.css"/>
<script type='text/javascript' src='https://automobiles.mapsofindia.com/js/jquery.js'></script>
<script type='text/javascript' src='https://automobiles.mapsofindia.com/js/common.js'></script>
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') + 
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>
 
<script type='text/javascript'>
googletag.cmd.push(function() {
var mapLeader = googletag.sizeMapping().
  addSize([300, 350], [300, 50]).
  addSize([320, 400], [320, 50]).
  addSize([480, 200], [468, 60]).
  addSize([768, 200], [728, 90]).
  build();


googletag.defineSlot('/5535731/AutoMOI_below_H1_728*90', [728, 90], 'div-gpt-ad-1424152012902-0').addService(googletag.pubads());
googletag.defineSlot('/5535731/AutoMOI_Box_ad', [[300, 250], [336, 280]], 'div-gpt-ad-1424152012902-1').addService(googletag.pubads());
googletag.defineSlot('/5535731/AutoMOI_top_728*90', [728, 90], 'div-gpt-ad-1424152012902-2').addService(googletag.pubads());
googletag.defineSlot('/5535731/Auto.MOI-Mobile-300x250-bottom', [300, 250], 'div-gpt-ad-1467800025982-1').addService(googletag.pubads());
googletag.defineSlot('/5535731/Anchor-Ad', [320, 50], 'div-gpt-ad-1459837798318-0').addService(googletag.pubads());
googletag.defineSlot('/5535731/MOI-responsive-top', [[300, 50], [320, 50], [468, 60], [728, 90]], 'div-gpt-ad-1424152012902-4').defineSizeMapping(mapLeader).addService(googletag.pubads());
googletag.defineSlot('/5535731/Netgain_on_MOI_and_subdomain', [468, 60], 'div-gpt-ad-1424152012902-5').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.pubads().disableInitialLoad();
googletag.enableServices();
});
</script>
<meta name="atdlayout" content="auto">
<script type="text/javascript" src="https://go.automatad.com/geo/iiG9kV/afihbs.js" async></script>
<!-- mCanvas Site Code Starts Here (Required) -->
<script type="text/javascript">
	(function(){
		var param = {
			"pk": "dzl21",
			"aduid": 164
		};
		var d=top.document,s=d.createElement("script"),u=[],p;param.u=d.location.href;param.ref=d.referrer;param.phR=Math.random()+"_"+(new Date).getTime();for(p in param)if(param.hasOwnProperty(p))u.push(p+"="+encodeURIComponent(param[p]));s.src="//ic.ph.affinity.com/init.js?"+u.join("&");s.type="text/javascript";d.getElementsByTagName("head")[0].appendChild(s);
	})();
</script>
<!-- mCanvas Site Code Ends Here -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22494977-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
<!--
	accordian();
//-->
</script>
<script async src="https://cdn.unibotscdn.com/player/mvp/player.js"></script>
</head>
<body>
<!-- Page width start here -->
<div id="pagewidth">

<!-- Main div start here -->
<div id="main">
<!-- Header section start here -->
<div class="header">
<div id="logo"><a href="https://automobiles.mapsofindia.com/" id="link1"></a></div>
<div id="google-ads-header">
<!-- AutoMOI_top_728*90 -->
<div id='div-gpt-ad-1424152012902-2' style='width:728px; height:90px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1424152012902-2'); });
</script>
</div>
</div>
<div class="CL"></div>
<!-- Top navigation start here -->
<div id="top_Nav">
<script type="text/javascript">
<!--
	topnev();
//-->
</script>
</div>
<div class="social-box indexcategory">
						<button class="share-wrp">Share</button>
						<div class="newsocial" style="display: none;">
							<div class="newsocial1">
								<div class="addthis_toolbox">
									<div class="custom_images" >
										<a class="addthis_button_facebook at300b" title="Facebook" href="#"><img src="https://automobiles.mapsofindia.com/images/facebook.jpg" width="32" height="32" alt="Share to Facebook" /></a>
										<a class="addthis_button_twitter at300b" title="Twitter" href="#"><img src="https://automobiles.mapsofindia.com/images/twitter.jpg" width="32" height="32" alt="Share to Twitter" /></a>
										<a class="pin-it-button addthis_button_pinterest_share at300b" target="_blank" title="Pinterest" href="#"><img src="https://automobiles.mapsofindia.com/images/pinterest.jpg" title="Pin It" alt="Pin It" /></a>
										<a class="addthis_button_compact at300m" href="#"><img src="https://automobiles.mapsofindia.com/images/adthis.jpg" width="32" height="32" alt="Share" /></a>
									</div>
								<div class="atclear"></div></div>
							</div>
						</div>
					</div>
<!-- Top navigation ends here -->
</div>
<!-- Header section ends here -->

<!-- Three panel start here -->
<div id="container">

<!-- left panel start here -->
<div id="left-panel">
<div style="margin:2px 0 5px 0px;">
<script type="text/javascript">
    google_ad_client = "ca-pub-8993220319430392";
    google_ad_slot = "8323784367";
    google_ad_width = 160;
    google_ad_height = 90;
</script>
<!-- A.MOI link unit -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<script type="text/javascript">
<!--
	leftpanel();
//-->
</script>

</div>
<!-- left panel ends here -->

<!-- Two panel start here -->
<div id="twopanel">
<div id="bread-crumb"><div  Class="navigation"><a Href="https://automobiles.mapsofindia.com/" Title="Home" >Home</a> &raquo;  <a Href="https://automobiles.mapsofindia.com/cars/" Title="Cars">Cars</a> &raquo; <a Href="https://automobiles.mapsofindia.com/cars/chevrolet-india/" Title="Chevrolet India">Chevrolet India</a> &raquo; Chevrolet Tavera</div></div>
<div class="content-text"><h1>Chevrolet Tavera</h1></div>
<div class="CL"></div>
<div id="google-ads-h1"><!-- AutoMOI_below_H1_728*90 -->
<div id='div-gpt-ad-1424152012902-0' style='width:728px; height:90px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1424152012902-0'); });
</script>
</div></div>
<div class="CL"></div>
<!-- content section start -->
<div class="content-text">
Chevrolet Tavera is General Motors' improved Multi-Utility automobile inspired by Isuzu Panther of South East Asia. A multipurpose vehicle, Tavera offers a world class performance along with grand comfort and resilience. Its excellent interior pattern lodges both travelers and cargo with flair. Its 2.5 engine combines flawlessly with the labor-intensive gear box and delivers reasonable power. Fuel cost-cutting measure is sufficient along with superb Suspension which works towards sheer comfort than maximum feat. It glides fantastically on the highway with smooth steering.<br /><br />
<h2>Chevrolet Tavera Details</h2><br /><br />
<!--new video ad code-->
<div id="div-ub-mapsofindia.com_1704360615941">
    <script>
       window.unibots = window.unibots || { cmd: [] };
       unibots.cmd.push(function() { unibotsPlayer("mapsofindia.com_1704360615941") });
   </script>
</div>
<!--new video ad code-->
<table cellpadding="0" cellspacing="0" width="75%" border="1" align="center">
<tr style="height:25px;">
<td><b>Model</b></td>
<td><b>Technical Specifications</b></td>
<td><b>Price</b></td>
</tr>
<tr>
<td valign="top">Chevrolet Tavera</td>
<td valign="top">Total Height - 1765 mm<br />
Total length - 4435 mm<br />
Total Width - 1680 mm<br />
Ground authorization - 184 mm<br />
Fuel Tank competence - 55 Liters<br />
Dislocation - 2499 cc<br />
Density ratio - 18.5 :1 <br />
Engine category - 2.5L Direct Inoculation Turbo Diesel<br />
Maximum Torque - 19 / 1800 kgm/rpm<br />
Car Tyres - 205/65 R15<br />
Front Brakes - Aerated Disc &amp; Caliper<br />
Rear Brakes - Self modulating Drum<br />
Rear Suspension - Semi-oblique Leaf Spring<br />
Front Suspension - Twofold Wishbone with self-governing Torsion Bar mechanism</td> 
<td valign="top">Rs.6.10 Lacs</td>
</tr>
</table>
<br /><br />
<center><img src="https://automobiles.mapsofindia.com/images/chevrolet-Tavera.jpg" width="449" height="300" alt="Chevrolet Tavera" /></center><br /><br />
<span class="dateupdated">Last Updated on 1/9/2012</span><br /><br />

<!-- Links Block start -->
<div class="intnl_contr_link_block">
<div class="intnl_heading"><a href="https://automobiles.mapsofindia.com/cars/chevrolet-india/">Chevrolet India</a></div>
<div class="intrl_links">

<ul>
<li><a href="https://automobiles.mapsofindia.com/cars/chevrolet-india/chevrolet-aveo-u-va.html">Chevrolet Aveo-UVA</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/chevrolet-india/chevrolet-captiva.html">Chevrolet Captiva</a></li>
</ul>
</div>
<div class="intrl_links">
<ul>
<li><a href="https://automobiles.mapsofindia.com/cars/chevrolet-india/chevrolet-optra.html">Chevrolet Optra</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/chevrolet-india/chevrolet-spark.html">Chevrolet Spark</a></li>
</ul>
</div>
<div class="intrl_links">
<ul>
<li><a href="https://automobiles.mapsofindia.com/cars/chevrolet-india/chevrolet-tavera.html">Chevrolet Tavera</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/chevrolet-india/chevrolet-aveo.html">Chevrolet Aveo</a></li>
</ul>
</div>
</div>
<!-- Links Block start --> <br /><br />




<!-- Links Block start -->
<div class="intnl_contr_link_block">
<div class="intnl_heading"><a href="https://automobiles.mapsofindia.com/cars/">Cars in India</a></div>
<div class="intrl_links">

<ul>
<li><a href="https://automobiles.mapsofindia.com/cars/audi/">Audi Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/bmw/">BMW Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/tata-motors/">TATA Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/chevrolet-india/">Chevrolet Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/jaguar/">Jaguar Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/">New Cars</a><li>
</ul>
</div>
<div class="intrl_links">
<ul>
<li><a href="https://automobiles.mapsofindia.com/cars/honda-india/">Honda Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/fiat/">FIAT Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/maruti-suzuki/">Maruti Suzuki Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/hyundai/">Hyundai Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/ford/">Ford Cars</a></li>
</ul>
</div>
<div class="intrl_links">
<ul>
<li><a href="https://automobiles.mapsofindia.com/car-accessories/car-amplifiers.html">Car Amplifiers</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/volkswagen/">Volkswagen Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/skoda/">Skoda Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/honda-india/">Honda Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/fuel-cell-cars/">Fuel Cell Cars</a><li>
</ul>
</div>
</div>
<!-- Links Block start --> <br /><br />

</div><br /><br />
<!-- content section ends -->


</div>
</div>
<!-- Two panel ends here -->

</div>
<!-- Three panel ends here -->


<div class="netgainss" style="float:none;width: 300px;height:30px;margin: 0 auto;background: url(https://www.mapsofindia.com/advertisement1.png) top left no-repeat;padding: 10px 0 0;">

</div><br/>
<!-- Footer section start here -->
<div id="footer">
<script type="text/javascript">
<!--
	footer();
//-->
</script>
</div>
<!-- Footer section ends here -->

</div>
<!-- Main div ends here -->

</div>
<!-- Page width ends here -->

<!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];
(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();
_qevents.push({
qacct:"p-98f87jYQeyLZ6"
});
</script>
<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-98f87jYQeyLZ6.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->
<!-- Addthis plugin -->
<script type="text/javascript">
var addthis_config = addthis_config||{};
addthis_config.data_track_clickback = false;
</script>
<script type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56de761e91d668dc'  defer='defer'></script>
<!-- End Addthis plugin-->
 <script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/5535731/firstimpression-1x1-tracking', [1, 1], 'div-gpt-ad-1501829467039-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
 <!-- /5535731/firstimpression-1x1-tracking -->
<div id='div-gpt-ad-1501829467039-0' style='height:1px; width:1px;'>
<script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1501829467039-0'); });
</script>
</div>
</body>
</html>