<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6S2WJM8ZKC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6S2WJM8ZKC');
</script>
<title>Fiat Punto Trendz</title>
<meta name="description" content="The Fiat Punto Trendz is credited in bringing a change is the hatchback car scenario in India. Fiat punto is famous for its design and its version Fiat punto Trendz speaks of punto enhanced mileage and reviews" />
<meta name="keywords" content="Fiat Punto Trendz, Fiat Punto Trendz features, Fiat Punto Trendz  specifications, fiat punto trendz reviews, Fiat punto trendz price, punto trendz mileage, Fiat Punto reviews, Fiat punto India" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="https://automobiles.mapsofindia.com/css/inner-page-style.css"/>
<script type='text/javascript' src='https://automobiles.mapsofindia.com/js/jquery.js'></script>
<script type='text/javascript' src='https://automobiles.mapsofindia.com/js/common.js'></script>
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') + 
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>
 
<script type='text/javascript'>
googletag.cmd.push(function() {
var mapLeader = googletag.sizeMapping().
  addSize([300, 350], [300, 50]).
  addSize([320, 400], [320, 50]).
  addSize([480, 200], [468, 60]).
  addSize([768, 200], [728, 90]).
  build();


googletag.defineSlot('/5535731/AutoMOI_below_H1_728*90', [728, 90], 'div-gpt-ad-1424152012902-0').addService(googletag.pubads());
googletag.defineSlot('/5535731/AutoMOI_Box_ad', [[300, 250], [336, 280]], 'div-gpt-ad-1424152012902-1').addService(googletag.pubads());
googletag.defineSlot('/5535731/AutoMOI_top_728*90', [728, 90], 'div-gpt-ad-1424152012902-2').addService(googletag.pubads());
googletag.defineSlot('/5535731/Auto.MOI-Mobile-300x250-bottom', [300, 250], 'div-gpt-ad-1467800025982-1').addService(googletag.pubads());
googletag.defineSlot('/5535731/Anchor-Ad', [320, 50], 'div-gpt-ad-1459837798318-0').addService(googletag.pubads());
googletag.defineSlot('/5535731/MOI-responsive-top', [[300, 50], [320, 50], [468, 60], [728, 90]], 'div-gpt-ad-1424152012902-4').defineSizeMapping(mapLeader).addService(googletag.pubads());
googletag.defineSlot('/5535731/Netgain_on_MOI_and_subdomain', [468, 60], 'div-gpt-ad-1424152012902-5').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.pubads().disableInitialLoad();
googletag.enableServices();
});
</script>
<meta name="atdlayout" content="auto">
<script type="text/javascript" src="https://go.automatad.com/geo/iiG9kV/afihbs.js" async></script>
<!-- mCanvas Site Code Starts Here (Required) -->
<script type="text/javascript">
	(function(){
		var param = {
			"pk": "dzl21",
			"aduid": 164
		};
		var d=top.document,s=d.createElement("script"),u=[],p;param.u=d.location.href;param.ref=d.referrer;param.phR=Math.random()+"_"+(new Date).getTime();for(p in param)if(param.hasOwnProperty(p))u.push(p+"="+encodeURIComponent(param[p]));s.src="//ic.ph.affinity.com/init.js?"+u.join("&");s.type="text/javascript";d.getElementsByTagName("head")[0].appendChild(s);
	})();
</script>
<!-- mCanvas Site Code Ends Here -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22494977-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
<!--
	accordian();
//-->
</script>
<script async src="https://cdn.unibotscdn.com/player/mvp/player.js"></script>
</head>
<body>
<!-- Page width start here -->
<div id="pagewidth">

<!-- Main div start here -->
<div id="main">
<!-- Header section start here -->
<div class="header">
<div id="logo"><a href="https://automobiles.mapsofindia.com/" id="link1"></a></div>
<div id="google-ads-header">
<!-- AutoMOI_top_728*90 -->
<div id='div-gpt-ad-1424152012902-2' style='width:728px; height:90px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1424152012902-2'); });
</script>
</div>
</div>
<div class="CL"></div>
<!-- Top navigation start here -->
<div id="top_Nav">
<script type="text/javascript">
<!--
	topnev();
//-->
</script>
</div>
<div class="social-box indexcategory">
						<button class="share-wrp">Share</button>
						<div class="newsocial" style="display: none;">
							<div class="newsocial1">
								<div class="addthis_toolbox">
									<div class="custom_images" >
										<a class="addthis_button_facebook at300b" title="Facebook" href="#"><img src="https://automobiles.mapsofindia.com/images/facebook.jpg" width="32" height="32" alt="Share to Facebook" /></a>
										<a class="addthis_button_twitter at300b" title="Twitter" href="#"><img src="https://automobiles.mapsofindia.com/images/twitter.jpg" width="32" height="32" alt="Share to Twitter" /></a>
										<a class="pin-it-button addthis_button_pinterest_share at300b" target="_blank" title="Pinterest" href="#"><img src="https://automobiles.mapsofindia.com/images/pinterest.jpg" title="Pin It" alt="Pin It" /></a>
										<a class="addthis_button_compact at300m" href="#"><img src="https://automobiles.mapsofindia.com/images/adthis.jpg" width="32" height="32" alt="Share" /></a>
									</div>
								<div class="atclear"></div></div>
							</div>
						</div>
					</div>
<!-- Top navigation ends here -->
</div>
<!-- Header section ends here -->

<!-- Three panel start here -->
<div id="container">

<!-- left panel start here -->
<div id="left-panel">
<div style="margin:2px 0 5px 0px;">
<script type="text/javascript">
    google_ad_client = "ca-pub-8993220319430392";
    google_ad_slot = "8323784367";
    google_ad_width = 160;
    google_ad_height = 90;
</script>
<!-- A.MOI link unit -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<script type="text/javascript">
<!--
	leftpanel();
//-->
</script>

</div>
<!-- left panel ends here -->

<!-- Two panel start here -->
<div id="twopanel">
<div id="bread-crumb"><div  Class="navigation"><a Href="https://automobiles.mapsofindia.com/" Title="Home" >Home</a> &raquo;  <a Href="https://automobiles.mapsofindia.com/cars/" Title="Cars">Cars</a> &raquo; <a Href="https://automobiles.mapsofindia.com/new-cars/" Title="New Cars">New Cars</a> &raquo; Fiat Punto Trendz</div></div>
<div class="content-text"><h1>Fiat Punto Trendz</h1></div>
<div class="CL"></div>
<div id="google-ads-h1"><!-- AutoMOI_below_H1_728*90 -->
<div id='div-gpt-ad-1424152012902-0' style='width:728px; height:90px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1424152012902-0'); });
</script>
</div></div>
<div class="CL"></div>
<!-- content section start -->
<div class="content-text">
The Fiat Punto Trendz is credited in bringing a change is the hatchback car scenario in India. Fiat Punto Trendz is just another feather to the hat of the Italian automobile giants Fiat.  The Trendz is the latest in the Punto series. The Fiat Punto Trendz is an absolute treat for Fiat lovers. The Fiat Punto Trendz is amazingly attractive and comfortable only giving reasons enough to the Indian citizens to welcome it with open arms. The interior of the car is inspired by the Fiat linea and hence sport an &eacute;lan that is unmatched in its segment so far. As the name suggest the car is a trendy hatchback mid sized four wheeler offering superior mileage quite unlike other Fiat models. <br /><br />
<!--new video ad code-->
<div id="div-ub-mapsofindia.com_1704360615941">
    <script>
       window.unibots = window.unibots || { cmd: [] };
       unibots.cmd.push(function() { unibotsPlayer("mapsofindia.com_1704360615941") });
   </script>
</div>
<!--new video ad code-->
<h2>Features of Fiat Punto Trendz</h2><br /><br />
<ul>
<li>Elegant Italian styling by its interior and exterior design.</li> 
<li>Fiat Grand Punto is  extremely spacious</li> 
<li>It has a large boot space</li>
<li>Is incorporated with lots of air bags</li>
<li>New three point seat belts with pre-tensioners and load limiters</li>
</ul>
<br /><br />
<h2>Technical specifications of Fiat Punto Trendz</h2><br /><br />
<table cellpadding="4" cellspacing="4" width="90%" border="1">
<tr>
<td><b>Model</b></td>
<td><b>Technical specifications</b></td>
<td><b>Price</b></td>
<td><b>Market overview</b></td>
</tr>
<tr>
<td>Fiat Punto Trendz</td>
<td>16 valve DOCH Engine with displacement of 1368cc<br />
Maximum power of 90 Bhp @ 6000 rpm <br />
Maximum torque of 115 Nm @ 4500 rpm<br />
Average mileage of 12kmpl in the city and 15kmpl on the highway<br />
Both suspensions are Independent McPherson Struts, Coil Spring type<br />
<td>Rs. 6,00,000</td>
<td>It is said to be a value for money car.</td>
</tr>
</table><br /><br />
<center><img src="https://automobiles.mapsofindia.com/images/Fiat-punto-trendz.jpg" width="640" height="429" border="0" align="center" alt="Fiat Punto Trendz"></center><br /><br />


<span class="dateupdated">Last Updated on 1/31/2012</span><br /><br />

<!-- Links Block start -->
<div class="intnl_contr_link_block">
<div class="intnl_heading"><a href="https://automobiles.mapsofindia.com/new-cars/">New Cars</a></div>
<div class="intrl_links">

<ul>
<li><a href="https://automobiles.mapsofindia.com/new-cars/mahindra-reva-e2o.html">Mahindra Reva E2O</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/maruti-riii.html">Maruti R3</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/toyota-etios.html">Toyota Etios</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/fiat-punto-trendz.html">Fiat Punto Trendz</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/honda-small-car.html">Honda Small Car</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/jaguar-xj.html">Jaguar XJ</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/maruti-kizashi.html">Maruti Kizashi</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/chevrolet-beat.html">Chevrolet Beat</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/bajaj-re60-mini-public-passenger-carrier.html">Bajaj Re60 Mini Public<br />&nbsp;&nbsp;&nbsp;&nbsp;Passenger Carrier</a></li>
</ul>
</div>
<div class="intrl_links">
<ul>
<li><a href="https://automobiles.mapsofindia.com/new-cars/chevrolet-captiva-xtreme.html">Chevrolet Captiva Xtreme</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/toyota-prius.html">Toyota Prius</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/audi-q74.html">Audi Q7 4.2 Tdi</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/chevrolet-e-spark.html">Chevrolet-E-Spark</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/fiat-linea-dualogic.html">Fiat linea Dualogic</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/fiat-linea-t-jet.html">Fiat Linea T-Jet</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/hyundai-i10-electric.html">Hyundai i-10 Electric</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/mahindra-scorpio-special.html">Mahindra Scorpio (special)</li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/mahindra-xylo-celebration.html">Mahindra Xylo</a></li>
</ul>
</div>
<div class="intrl_links">
<ul>
<li><a href="https://automobiles.mapsofindia.com/new-cars/chevrolet-aveo-cng.html">Chevrolet Aveo CNG</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/fiat-punto-sports.html">Fiat Punto Sports</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/maruti-eeco.html">Maruti Eeco</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/skoda-yeti.html">Skoda Yeti</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/tata-aria.html">Tata Aria</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/toyota-corolla-altis-cng.html">Toyota corolla Altis  (CNG)</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/toyota-etios.html">Toyota Etios /Sedan</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/volkswagen-polo.html">Volkswagen Polo</a></li>
</ul>
</div>
</div>
<!-- Links Block start --> <br /><br />




<!-- Links Block start -->
<div class="intnl_contr_link_block">
<div class="intnl_heading"><a href="https://automobiles.mapsofindia.com/cars/index.html">Cars in India</a></div>
<div class="intrl_links">

<ul>
<li><a href="https://automobiles.mapsofindia.com/cars/audi/">Audi Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/bmw/">BMW Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/tata-motors/">TATA Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/chevrolet-india/">CHEVROLET Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/jaguar/">Jaguar Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/">New Cars</a><li>
</ul>
</div>
<div class="intrl_links">
<ul>
<li><a href="https://automobiles.mapsofindia.com/cars/honda-india/">HONDA Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/fiat/">FIAT Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/maruti-suzuki/">Maruti Suzuki Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/hyundai/">Hyundai CARS</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/ford/">Ford Cars</a></li>
</ul>
</div>
<div class="intrl_links">
<ul>
<li><a href="https://automobiles.mapsofindia.com/cars/cars-engines/">Cars Engines</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/volkswagen/">Volkswagen Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/skoda/">Skoda Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/fuel-cell-cars/">Fuel Cell Cars</a><li>
</ul>
</div>
</div>
<!-- Links Block start --> <br /><br />

</div><br /><br />
<!-- content section ends -->


</div>
</div>
<!-- Two panel ends here -->

</div>
<!-- Three panel ends here -->


<div class="netgainss" style="float:none;width: 300px;height:30px;margin: 0 auto;background: url(https://www.mapsofindia.com/advertisement1.png) top left no-repeat;padding: 10px 0 0;">

</div><br/>
<!-- Footer section start here -->
<div id="footer">
<script type="text/javascript">
<!--
	footer();
//-->
</script>
</div>
<!-- Footer section ends here -->

</div>
<!-- Main div ends here -->

</div>
<!-- Page width ends here -->

<!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];
(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();
_qevents.push({
qacct:"p-98f87jYQeyLZ6"
});
</script>
<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-98f87jYQeyLZ6.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->
<!-- Addthis plugin -->
<script type="text/javascript">
var addthis_config = addthis_config||{};
addthis_config.data_track_clickback = false;
</script>
<script type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56de761e91d668dc'  defer='defer'></script>
<!-- End Addthis plugin-->
 <script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/5535731/firstimpression-1x1-tracking', [1, 1], 'div-gpt-ad-1501829467039-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
 <!-- /5535731/firstimpression-1x1-tracking -->
<div id='div-gpt-ad-1501829467039-0' style='height:1px; width:1px;'>
<script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1501829467039-0'); });
</script>
</div>
</body>
</html>