<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6S2WJM8ZKC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6S2WJM8ZKC');
</script>
<title>Automobiles in India: Cars, Bikes, Trucks, Buses</title>
<meta name='description' content="Be updated in Automobiles in India: new cars, bikes, trucks, buses, two and four wheelers and other vehicles. Find Auto News, automobile care tips and events going to be held."/>
<meta name='keywords' content="Automobiles in India, cars in India, Bikes in India, Trucks in India, Buses in India, vehicles in India, automobile news, automobile care tips, auto events.
"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="google-site-verification" content="c61WErBpSrYnWOQwD-w1haZzE4gQgdVXhlB92tD26fI" />
<meta name="msvalidate.01" content="55FE0021E3CFA8C00778551E9F28318E" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- OG Tags -->
<meta property="og:title" content="Automobiles in India: Cars, Bikes, Trucks, Buses" />
<meta property="og:url" content="https://automobiles.mapsofindia.com/" />
<meta property="og:description" content="Be updated in Automobiles in India: new cars, bikes, trucks, buses, two and four wheelers and other vehicles. Find Auto News, automobile care tips and events going to be held." />
<meta property="og:site_name" content="Automobiles Maps of India" />
<meta property="og:image" content="https://automobiles.mapsofindia.com/auromobile-moi.png" />
<meta name="twitter:card" content="photo"/>
<meta name="twitter:site" content="@AutomobilesMapsofIndia"/>
<meta name="twitter:title" content="Automobiles in India: Cars, Bikes, Trucks, Buses"/>
<meta name="twitter:description" content="Be updated in Automobiles in India: new cars, bikes, trucks, buses, two and four wheelers and other vehicles. Find Auto News, automobile care tips and events going to be held."/>
<meta name="twitter:image:src" content="https://automobiles.mapsofindia.com/auromobile-moi.png"/>
<!-- OG Tags End-->
<link rel="stylesheet" type="text/css" href="style/style.css"/>
<script type="text/javascript" src="style/jquery.js"></script>
<script type="text/javascript" src="style/contentslider.js"></script>
<script language="JavaScript" type="text/javascript" src="getdata.js"></script>
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') + 
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>
 
<script type='text/javascript'>
googletag.cmd.push(function() {
var mapLeader = googletag.sizeMapping().
  addSize([300, 350], [300, 50]).
  addSize([320, 400], [320, 50]).
  addSize([480, 200], [468, 60]).
  addSize([768, 200], [728, 90]).
  build();


googletag.defineSlot('/5535731/AutoMOI_below_H1_728*90', [728, 90], 'div-gpt-ad-1424152012902-0').addService(googletag.pubads());
googletag.defineSlot('/5535731/AutoMOI_Box_ad', [[300, 250], [336, 280]], 'div-gpt-ad-1424152012902-1').addService(googletag.pubads());
googletag.defineSlot('/5535731/AutoMOI_top_728*90', [728, 90], 'div-gpt-ad-1424152012902-2').addService(googletag.pubads());
googletag.defineSlot('/5535731/Auto.MOI-Mobile-300x250-bottom', [300, 250], 'div-gpt-ad-1467800025982-1').addService(googletag.pubads());
googletag.defineSlot('/5535731/Anchor-Ad', [320, 50], 'div-gpt-ad-1459837798318-0').addService(googletag.pubads());
googletag.defineSlot('/5535731/MOI-responsive-top', [[300, 50], [320, 50], [468, 60], [728, 90]], 'div-gpt-ad-1424152012902-4').defineSizeMapping(mapLeader).addService(googletag.pubads());
googletag.defineSlot('/5535731/Netgain_on_MOI_and_subdomain', [468, 60], 'div-gpt-ad-1424152012902-5').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.pubads().disableInitialLoad();
googletag.enableServices();
});
</script>
<meta name="atdlayout" content="auto">
<script type="text/javascript" src="https://go.automatad.com/geo/iiG9kV/afihbs.js" async></script>
<!-- mCanvas Site Code Starts Here (Required) -->
<script type="text/javascript">
	(function(){
		var param = {
			"pk": "dzl21",
			"aduid": 164
		};
		var d=top.document,s=d.createElement("script"),u=[],p;param.u=d.location.href;param.ref=d.referrer;param.phR=Math.random()+"_"+(new Date).getTime();for(p in param)if(param.hasOwnProperty(p))u.push(p+"="+encodeURIComponent(param[p]));s.src="//ic.ph.affinity.com/init.js?"+u.join("&");s.type="text/javascript";d.getElementsByTagName("head")[0].appendChild(s);
	})();
</script>
<!-- mCanvas Site Code Ends Here -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22494977-6']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script> 
<script type="text/javascript">
<!--
	$(function(){
 $('#fot_bot2').show();
 $('#show').toggle(function(){
 $('#fot_bot2').slideDown("slow");
 $(this).attr("src","images/hide-button.png" );
 },function(){
 $('#fot_bot2').slideUp("slow");
 $(this).attr("src", "images/show-button.png" );
 });
 });
//-->
</script>

<script async src="https://cdn.unibotscdn.com/player/mvp/player.js"></script>
</head>
<body onload='getdata("showresult.php?url=http://www.autonews.com/apps/pbcs.dll/section?category=rss01&mime=xml","disp");getframes();'>
<!-- Page width start here -->
<div id="pagewidth">

<!-- Main div start here -->
<div id="main">
<!-- Header section start here -->
<div class="header">
<div id="logo"></div>
<div id="google-ads-header">
<!-- AutoMOI_top_728*90 -->
<div id='div-gpt-ad-1424152012902-2' style='width:728px; height:90px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1424152012902-2'); });
</script>
</div>
</div>
<div class="CL"></div>
<!-- Top navigation start here -->
<div id="top_Nav">
<div id="topnav">
<div id="topnav_inner">

<div class="usecar">
<div class="usecar_l"></div>
<div class="usecar_m"><div class="linkTxt"><a href="https://automobiles.mapsofindia.com/new-cars/" class="linkTxt">New Cars</a></div></div>
<div class="usecar_r"></div>
</div>

<div class="usecar">
<div class="usecar_l"></div>
<div class="usecar_m"><div class="linkTxt"><a href="https://automobiles.mapsofindia.com/upcoming-cars/" class="linkTxt">Upcoming Cars</a></div></div>
<div class="usecar_r"></div>
</div>

<div class="usecar">
<div class="usecar_l"></div>
<div class="usecar_m"><div class="linkTxt"><a href="https://automobiles.mapsofindia.com/second-hand-car-market-in-india/used-cars.html" class="linkTxt">Used Cars</a></div></div>
<div class="usecar_r"></div>
</div>

<div class="usecar">
<div class="usecar_l"></div>
<div class="usecar_m"><div class="linkTxt"><a href="https://automobiles.mapsofindia.com/automobile-companies-in-india/commercial-vehicles-manufacturers/trucks.html" class="linkTxt">Trucks</a></div></div>
<div class="usecar_r"></div>
</div>
<div class="usecar">
<div class="usecar_l"></div>
<div class="usecar_m"><div class="linkTxt"><a href="https://automobiles.mapsofindia.com/car-finance-and-insurance/car-finance-companies.html" class="linkTxt">Car Finance</a></div></div>
<div class="usecar_r"></div>
</div>
<div class="usecar">
<div class="usecar_l"></div>
<div class="usecar_m"><div class="linkTxt"><a href="https://automobiles.mapsofindia.com/car-finance-and-insurance/car-insurance.html" class="linkTxt">Car Insurance</a></div></div>
<div class="usecar_r"></div>
</div>
 <div class="usecar">
<div class="usecar_l"></div>
<div class="usecar_m"><div class="linkTxt"><a href="https://automobiles.mapsofindia.com/autoexpo/" class="linkTxt">Auto Expo 2014</a></div></div>
<div class="usecar_r"></div>
</div> 


</div>
<div class="search">
<div class="search-left">
<form action="https://automobiles.mapsofindia.com/search-results.html" id="cse-search-box"> 
<input type="hidden" name="cx" value="partner-pub-8993220319430392:6lekgpa2j2f" />
    <input type="hidden" name="cof" value="FORID:10" />
    <input type="hidden" name="ie" value="ISO-8859-1" />
    <input type="text" name="q" size="25" />
</div>
<div class="search-right"><input type="image" name="sa" src="images/search_button.gif"  class="search-button"/></div>
</form>
<script type="text/javascript" src="//www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>
</div>

</div>
</div>
<div class="social-box indexcategory">
						<button class="share-wrp">Share</button>
						<div class="newsocial" style="display: none;">
							<div class="newsocial1">
								<div class="addthis_toolbox">
									<div class="custom_images" >
										<a class="addthis_button_facebook at300b" title="Facebook" href="#"><img src="https://automobiles.mapsofindia.com/images/facebook.jpg" width="32" height="32" alt="Share to Facebook" /></a>
										<a class="addthis_button_twitter at300b" title="Twitter" href="#"><img src="https://automobiles.mapsofindia.com/images/twitter.jpg" width="32" height="32" alt="Share to Twitter" /></a>
										<a class="pin-it-button addthis_button_pinterest_share at300b" target="_blank" title="Pinterest" href="#"><img src="https://automobiles.mapsofindia.com/images/pinterest.jpg" title="Pin It" alt="Pin It" /></a>
										<a class="addthis_button_compact at300m" href="#"><img src="https://automobiles.mapsofindia.com/images/adthis.jpg" width="32" height="32" alt="Share" /></a>
									</div>
								<div class="atclear"></div></div>
							</div>
						</div>
					</div>

<!-- Top navigation ends here -->
</div>
<!-- Header section ends here -->

<!-- Three panel start here -->
<div id="container">

<!-- left panel start here -->
<div id="left-panel">

<div class="left-panel-box">
<div class="left-panel_l"></div>
<div class="left-panel_m">
<div class="leftTxt"><a href="https://automobiles.mapsofindia.com/automobile-history/" class="leftTxt">Automobile History</a></div>
</div>
<div class="left-panel_r"></div>
</div>

<div class="left-panel_link">
<ul>
<li><a href="https://automobiles.mapsofindia.com/automobile-history/the-birth-of-automobiles.html">Birth of Automobile</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-history/changing-faces-of-the-car.html">Changing faces of car</a></li>
</ul>
</div>

<div class="left-panel-box">
<div class="left-panel_l"></div>
<div class="left-panel_m">
<div class="leftTxt"><a href="https://automobiles.mapsofindia.com/automobile-companies-in-india/" class="leftTxt">Automobile Companies</a></div>
</div>
<div class="left-panel_r"></div>
</div>

<div class="left-panel_link">
<ul>
<li><a href="https://automobiles.mapsofindia.com/automobile-companies-in-india/car-manufacturers/">Car Manufacturers</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-companies-in-india/two-wheelers-manufacturers/">Manufacturers</a></li>
</ul>
</div>

<div class="left-panel-box">
<div class="left-panel_l"></div>
<div class="left-panel_m">
<div class="leftTxt"><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/" class="leftTxt">Components &amp; Spares</a></div>
</div>
<div class="left-panel_r"></div>
</div>

<div class="left-panel_link">
<ul>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/automobile-components.html">Automobile Components</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/auto-spares.html">Automobile Spares</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/auto-accessories.html">Auto Accessories</a></li>
</ul>
</div>

<div class="left-panel-box">
<div class="left-panel_l"></div>
<div class="left-panel_m">
<div class="leftTxt"><a href="https://automobiles.mapsofindia.com/automobile-service-stations-in-india/" class="leftTxt">Service Stations</a></div>
</div>
<div class="left-panel_r"></div>
</div>



<div class="left-panel-box">
<div class="left-panel_l"></div>
<div class="left-panel_m">
<div class="leftTxt"><a href="https://automobiles.mapsofindia.com/petrol-stations/" class="leftTxt">Petrol Pumps Finder</a></div>
</div>
<div class="left-panel_r"></div>
</div>

<div class="left-panel_link">
<ul>
<li><a href="https://automobiles.mapsofindia.com/petrol-stations/fuel-price-map.html">Fuel Price Map</a></li>
<li><a href="https://automobiles.mapsofindia.com/petrol-stations/petrol-stations-delhi.html">Petrol Stations in Delhi</a></li>
<li><a href="https://automobiles.mapsofindia.com/petrol-stations/petrol-stations-kolkata.html">Petrol Stations in Kolkata</a></li>
<li><a href="https://automobiles.mapsofindia.com/petrol-stations/petrol-stations-tamilnadu.html">Petrol Stations in Tamilnadu</a></li>
</ul>
</div>

<div class="left-panel-box">
<div class="left-panel_l"></div>
<div class="left-panel_m">
<div class="leftTxt"><a href="https://automobiles.mapsofindia.com/lubricants/" class="leftTxt">Lubricants</a></div>
</div>
<div class="left-panel_r"></div>
</div>


<div class="left-panel-box">
<div class="left-panel_l"></div>
<div class="left-panel_m">
<div class="leftTxt"><a href="https://automobiles.mapsofindia.com/car-accessories/" class="leftTxt">Car Accessories</a></div>
</div>
<div class="left-panel_r"></div>
</div>

<div class="left-panel_link">
<ul>
<li><a href="https://automobiles.mapsofindia.com/car-accessories/car-air-conditioning.html">Car Airconditioning</a></li>
<li><a href="https://automobiles.mapsofindia.com/car-accessories/auto-tyres-india.html">Tyres</a></li>
</ul>
</div>

<div class="left-panel-box">
<div class="left-panel_l"></div>
<div class="left-panel_m">
<div class="leftTxt"><a href="https://automobiles.mapsofindia.com/second-hand-car-market-in-india/" class="leftTxt">Second Hand Car Market</a></div>
</div>
<div class="left-panel_r"></div>
</div>

<div class="left-panel_link">
<ul>
<li><a href="https://automobiles.mapsofindia.com/second-hand-car-market-in-india/used-cars.html">Used Car</a></li>
<li><a href="https://automobiles.mapsofindia.com/second-hand-car-market-in-india/buying-used-cars.html">Buying Used Car</a></li>
<li><a href="https://automobiles.mapsofindia.com/second-hand-car-market-in-india/second-hand-car-dealers.html">Second Hand Car Dealers</a></li>
</ul>
</div>

<div class="left-panel-box">
<div class="left-panel_l"></div>
<div class="left-panel_m">
<div class="leftTxt"><a href="https://automobiles.mapsofindia.com/car-finance-and-insurance/" class="leftTxt">Car Finance and Insurance</a></div>
</div>
<div class="left-panel_r"></div>
</div>

<div class="left-panel_link">
<ul>
<li><a href="https://automobiles.mapsofindia.com/car-finance-and-insurance/car-finance-companies.html">Car Finance Companies</a></li>
<li><a href="https://automobiles.mapsofindia.com/car-finance-and-insurance/car-insurance.html">Car Insurance</a></li>
</ul>
</div>

<div class="left-panel-box">
<div class="left-panel_l"></div>
<div class="left-panel_m">
<div class="leftTxt"><a href="https://automobiles.mapsofindia.com/useful-information/" class="leftTxt">Useful Information</a></div>
</div>
<div class="left-panel_r"></div>
</div>

<div class="left-panel_link">
<ul>
<li><a href="https://automobiles.mapsofindia.com/useful-information/motor-policy.html">Motor Policy Know Your Car</a></li>
<li><a href="https://automobiles.mapsofindia.com/useful-information/modern-suspension-system.html">Modren Suspension System</a></li>
<li><a href="https://automobiles.mapsofindia.com/useful-information/development-in-transmission-system.html">Development in Transmission System</a></li>
<li><a href="https://automobiles.mapsofindia.com/useful-information/the-electrical-system.html">The Electrical System</a></li>
<li><a href="https://automobiles.mapsofindia.com/useful-information/vehicle-maintenance.html">Maintenance</a></li>
<li><a href="https://automobiles.mapsofindia.com/useful-information/automobile-tips.html">Tips</a></li>
</ul>
</div>


<div class="left-panel-box">
<div class="left-panel_l"></div>
<div class="left-panel_m">
<div class="leftTxt">Whats New</div>
</div>
<div class="left-panel_r"></div>
</div>

<div class="left-panel_link">
<ul>
<li><a href="http://www.mapsofindia.com/my-india/events/photographs-from-auto-expo-2014">Photographs from Auto Expo 2014</a></li>
<li><a href="https://automobiles.mapsofindia.com/new-cars/mahindra-reva-e2o.html">Mahindra Reva E2O</a></li>
<li><a href="https://automobiles.mapsofindia.com/petrol-stations/price-map.html">Petrol Price Map</a></li>
<li><a href="https://automobiles.mapsofindia.com/petrol-stations/diesel-price-map.html">Diesel Price Map</a></li>
<li><a href="https://automobiles.mapsofindia.com/petrol-stations/fuel-price-map.html">Fuel Price Map</a></li>
<li><a href="https://automobiles.mapsofindia.com/petrol-stations/cng-price-map.html">CNG Price Map</a></li>
<li><a href="https://automobiles.mapsofindia.com/petrol-stations/lpg-price-map.html">Auto LPG Price Map</a></li>
<li><a href="https://automobiles.mapsofindia.com/bikes/ducati/diavel.html">Dukati Diavel</a></li>
<li><a href="https://automobiles.mapsofindia.com/cars/mitsubishi/">Mitsubishi Cars</a></li>
<li><a href="https://automobiles.mapsofindia.com/bikes/honda-motors/honda-cbr.html">Honda CBR</a></li>
</ul>
</div>

<div id="left-thumnail"><a href="https://automobiles.mapsofindia.com/new-cars/"><img src="images/car-thumbnails/New-cars.jpg" width="130" height="87" alt="New Cars" border="0"/></a><br /><a href="https://automobiles.mapsofindia.com/new-cars/" class="car-heading">New Cars</a><br /><br /><br /><br /><a href="https://automobiles.mapsofindia.com/bikes/new-bikes/"><img src="images/car-thumbnails/New-bikes.jpg" width="130" height="87" alt="New Bikes" border="0"/></a><br /><a href="https://automobiles.mapsofindia.com/bikes/new-bikes/" class="car-heading">New Bikes</a></div>

</div>
<!-- left panel ends here -->

<!-- Two panel start here -->
<div id="twopanel">
<center><iframe id="frame1" src="https://automobiles.mapsofindia.com/cars/carsearch.html" width="770" height="97" marginwidth="0" marginheight="0" frameborder="no" scrolling="no" align="center"></iframe></center><br />

<!-- Middle panel start here -->
<div id="middle-panel">
<div style="width:auto;height:auto;float:left;" class="mob_h1">
<h1>Automobiles in India</h1></div>
<div id="middle-header">
<div id="slider1" class="sliderwrapper">
 
<div class="contentdiv">
<a href="https://automobiles.mapsofindia.com/automobile-history/automobile-inventions.html"><img src="images/automobile-inventions.jpg" width="464" height="212" alt="" border="0"/></a>
</div>
 
<div class="contentdiv">
<a href="https://automobiles.mapsofindia.com/bikes/bikes-with-cng.html"><img src="images/bike-with-cng.jpg" width="464" height="212" alt="" border="0"/></a>
</div>

<div class="contentdiv">
<a href="https://automobiles.mapsofindia.com/cars/cars-engines/"><img src="images/car-engines.jpg" width="464" height="212" alt="" border="0"/></a>
</div>

<div class="contentdiv">
<a href="https://automobiles.mapsofindia.com/cars/fuel-cell-cars/"><img src="images/fuel-cell-cars.jpg" width="464" height="212" alt="" border="0"/></a>
</div>

<div class="contentdiv">
<a href="https://automobiles.mapsofindia.com/cars/hybrid-cars/"><img src="images/hybrid-vehicles.jpg" width="464" height="212" alt="" border="0"/></a>
</div>
 
</div>
 
<div id="paginate-slider1" class="pagination">
 
</div>
 
<script type="text/javascript">
 
featuredcontentslider.init({
id: "slider1", //id of main slider DIV
contentsource: ["inline", ""], //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
toc: "#increment", //Valid values: "#increment", "markup", ["label1", "label2", etc]
nextprev: ["Previous", "Next"], //labels for "prev" and "next" links. Set to "" to hide.
enablefade: [true, 0.2], //[true/false, fadedegree]
autorotate: [true, 3000], //[true/false, pausetime]
onChange: function(previndex, curindex){ //event handler fired whenever script changes slide
//previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
//curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
}
})
 
</script>
</div>
<div><h2><a href="https://automobiles.mapsofindia.com/cars/" class="h1-header">Cars in India</a></h2></div>
<div class="CL"></div>
<div class="content-text"><b>Cars in India</b> - India today offers a car for every pocket.  You can buy opeartional cars in the pre-used catergory for as low as $550 or Rs.25,000 and you can go upto Rolls and Bentleys which can cost you close to a milliion dollars or Rs.4 crores.  Car penetration in India is now reached the village level and all car dealerships are there in all medium cities and small towns. Even a top of the line brand like Mercedes has dealers in over 25 cities including cities like Vijaywada, Nashik &amp; Kochi</div>
<div class="CL"></div>

<center><IFRAME id="frame2" SRC="https://automobiles.mapsofindia.com/cars/compare-car.html" target="_blank" WIDTH=469 HEIGHT="350" MARGINWIDTH="0" MARGINHEIGHT="0" FRAMEBORDER="NO" SCROLLING="NO" ALIGN="CENTER"></IFRAME></center></td>


<div id="new-car-table1" class="car-heading">Most Popular New Cars in India by Range</div>

<div class="new-car-table">

<div class="new-car-box">
<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/cars/general-motors/beat-1.2_ls.html"><img src="images/car-thumbnails/chevrole-beat.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/cars/general-motors/beat-1.2_ls.html">Chevrolet Beat</a></div>
</div>

<div class="new-car-space"></div>

<div class="new-car-box">
<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/cars/fiat/punto-1.2_active.html"><img src="images/car-thumbnails/Fiat-Punto.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/cars/fiat/punto-1.2_active.html">Fiat Punto</a></div>
</div>

<div class="new-car-space"></div>

<div class="new-car-box">
<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/cars/tata-motors/"><img src="images/car-thumbnails/Tata-indigo-Manza.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/cars/tata-motors/">Tata Motors</a></div>
</div>
<div class="new-car-space"></div>

<div class="new-car-box">

<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/new-cars/mahindra-reva-e2o.html"><img src="images/car-thumbnails/mahindra-reva-e2o.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/new-cars/mahindra-reva-e2o.html">Mahindra Reva E2O</a></div>
</div>


</div>

<div class="new-car-table">

<div class="new-car-box">
<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/cars/fiat/linea-1.3_active.html"><img src="images/car-thumbnails/Fiat-Linea.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/cars/fiat/linea-1.3_active.html">Fiat Linea</a></div>
</div>

<div class="new-car-space"></div>

<div class="new-car-box">
<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/cars/maruti/eeco-5_seater.html"><img src="images/car-thumbnails/Maruti-Eeco.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/cars/maruti/eeco-5_seater.html">Maruti Eeco</a></div>
</div>

<div class="new-car-space"></div>

<div class="new-car-box">
<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/cars/mahindra/scorpio-lx.html"><img src="images/car-thumbnails/Mahindra-scorpio-Hawk.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/cars/mahindra/scorpio-lx.html">Mahindra Scorpio</a></div>
</div>

<div class="new-car-space"></div>

<div class="new-car-box">
<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/cars/toyota/corolla-altis-1.8_g.html"><img src="images/car-thumbnails/Toyota-camry.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/cars/toyota/corolla-altis-1.8_g.html">Toyota Corolla Altis</a></div>
</div>


</div>

<div class="new-car-table">

<div class="new-car-box">
<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/cars/audi/"><img src="images/car-thumbnails/Audi-A8.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/cars/audi/">Audi</a></div>
</div>

<div class="new-car-space"></div>

<div class="new-car-box">
<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/cars/jaguar/"><img src="images/car-thumbnails/Jaguar-XJ.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/cars/jaguar/">Jaguar</a></div>
</div>

<div class="new-car-space"></div>

<div class="new-car-box">
<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/cars/maruti-suzuki/"><img src="images/car-thumbnails/swift-dzire.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/cars/maruti-suzuki/">Maruti Suzuki</a></div>
</div>

<div class="new-car-space"></div>

<div class="new-car-box">
<div class="new-car-img"><a href="https://automobiles.mapsofindia.com/cars/hybrid-cars/"><img src="images/car-thumbnails/hybrid-sx4.jpg" width="100" height="66" alt="" border="0"/></a></div>
<div class="new-car-text"><a href="https://automobiles.mapsofindia.com/cars/hybrid-cars/">Hybrid Cars</a></div>
</div>


</div>



<div class="CL"></div>





</div>
<!-- Middle panel ends here -->

<!-- Right penl start here -->
<div id="right-panel">

<!-- Cars by Brands start here -->
<div class="car-brands">Cars by Brands</div>
<div class="dotted-line"></div>

<div class="valk-row1">
<div class="valk-image" style="cursor:hand;cursor:pointer;" onclick="document.location.href='https://automobiles.mapsofindia.com/cars/volkswagen/';"></div>
<div class="automobile-histroy-text1"><a href="https://automobiles.mapsofindia.com/cars/volkswagen/" class="automobile-histroy-text1">Volkswagen</a></div>
</div>

<div class="chevrolet-row1">
<div class="chevrolet-image" style="cursor:hand;cursor:pointer;" onClick="document.location.href='https://automobiles.mapsofindia.com/cars/chevrolet-india/';"></div>
<div class="automobile-histroy-text1"><a href="https://automobiles.mapsofindia.com/cars/chevrolet-india/
" class="automobile-histroy-text1">Chevrolet India</a></div>
</div>

<div class="audi-row1">
<div class="audi-image" style="cursor:hand;cursor:pointer;" onClick="document.location.href='https://automobiles.mapsofindia.com/cars/audi/';"></div>
<div class="automobile-histroy-text1"><a href="https://automobiles.mapsofindia.com/cars/audi/" class="automobile-histroy-text1">Audi</a></div>
</div>
<div class="CL"></div>
<div class="dotted-line"></div>
<div class="tata-row2">
<div class="tata-image" style="cursor:hand;cursor:pointer;" onClick="document.location.href='https://automobiles.mapsofindia.com/cars/tata/';"></div>
<div class="automobile-histroy-text1"><a href="https://automobiles.mapsofindia.com/cars/tata/" class="automobile-histroy-text1">Tata Motors</a></div>
</div>

<div class="maruti-row2">
<div class="maruti-image" style="cursor:hand;cursor:pointer;" onClick="document.location.href='https://automobiles.mapsofindia.com/cars/maruti/';"></div>
<div class="automobile-histroy-text1"><a href="https://automobiles.mapsofindia.com/cars/maruti/" class="automobile-histroy-text1">Maruti Suzuki</a></div>
</div>

<div class="honda-row2">
<div class="honda-image" style="cursor:hand;cursor:pointer;" onClick="document.location.href='https://automobiles.mapsofindia.com/cars/honda/';"></div>
<div class="automobile-histroy-text1"><a href="https://automobiles.mapsofindia.com/cars/honda/" class="automobile-histroy-text1">Honda Motors</a></div>
</div>
<div class="CL"></div>
<div class="dotted-line"></div>

<div class="fiat-row3">
<div class="fiat-image" style="cursor:hand;cursor:pointer;" onClick="document.location.href='https://automobiles.mapsofindia.com/cars/fiat/';"></div>
<div class="automobile-histroy-text1"><a href="https://automobiles.mapsofindia.com/cars/fiat/" class="automobile-histroy-text1">Fiat India</a></div>
</div>

<div class="bmw-row3">
<div class="bmw-image" style="cursor:hand;cursor:pointer;" onClick="document.location.href='https://automobiles.mapsofindia.com/cars/bmw/';"></div>
<div class="automobile-histroy-text1"><a href="https://automobiles.mapsofindia.com/cars/bmw/" class="automobile-histroy-text1">BMW</a></div>
</div>

<div class="jaguar-row3">
<div class="jaguar-image" style="cursor:hand;cursor:pointer;" onClick="document.location.href='https://automobiles.mapsofindia.com/cars/jaguar/';"></div>
<div class="automobile-histroy-text1"><a href="https://automobiles.mapsofindia.com/cars/jaguar/" class="automobile-histroy-text1">Jaguar</a></div>
</div>
<div class="CL"></div>
<div style="float:right;"><a href="https://automobiles.mapsofindia.com/cars/" class="car-brands">>> More Brands</a></div>
<div class="CL"></div>
<div class="dotted-line"></div>

<!-- Cars by Brands ends here -->

<!-- Google ads start here -->
<div id="right-asds">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- auto.MOI-homepage-300X250 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-8993220319430392"
     data-ad-slot="4012886336"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<!-- Google ads ends here -->

<div id="twitter"><a href="http://www.twitter.com/automobilesmoi" id="link1"></a>
<div class="twitter-text1">Fuel your thoughts on Automobile <a href="http://www.twitter.com/automobilesmoi" class="twitter-text1">twitter/automobilesmoi</a></div>
</div>

<!-- Car care section start here-->
<div style="width:100%;float:left;padding:0px;margin:10px 0 10px 0px;">
<center><IFRAME id="frame3" SRC="https://automobiles.mapsofindia.com/petrol-stations/petrolpumpfinder.html" width="300" height="250" marginwidth="0" marginheight="0" frameborder="NO" scrolling="NO" align="center"></IFRAME></center>
</div>
<!-- Car care section ends here-->

<!-- Automobile news start-->
<div id="news">
<div class="news-heading"><span class="care-car-heading"><h3>Auto News</h3></span></div>
<div id="disp"></div>
</div>
<!-- Automobile news ends-->

<!-- cars tips -->
<div id="news" style="height: 100px;overflow: scroll;overflow-x: hidden;">
<div class="news-heading"><span class="care-car-heading"><h3>Car Care Tips</h3></span></div>
<iframe src="https://automobiles.mapsofindia.com/car-care-tips/get_name.php" target="_blank" width="300" height="auto;" marginwidth="0" marginheight="0" frameborder="no" scrolling="no" align="center"></iframe>
</div>
<!-- cars tips ends-->


</div>
<!-- Right penl ends here -->
<div id="middle-asds">
<!-- AutoMOI_below_H1_728*90 -->
<div id='div-gpt-ad-1424152012902-0' style='width:728px; height:90px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1424152012902-0'); });
</script>
</div>
</div>
<!--new video ad code-->
<div id="div-ub-mapsofindia.com_1704360615941">
    <script>
       window.unibots = window.unibots || { cmd: [] };
       unibots.cmd.push(function() { unibotsPlayer("mapsofindia.com_1704360615941") });
   </script>
</div>
<!--new video ad code-->
<div class="cars-section-2">
<div class="content-text">
<div><h2><a href="https://automobiles.mapsofindia.com/automobile-industry-in-india/" class="h2-header">India Automobile Industry</a></h2></div><br /><br />

The Indian Automobile Industry is amongst the largest automobile markets in the world. It is up-and-coming as one of the fastest growing passenger car markets in the world. In recent days, the automobile industry in India is witnessing a flat and even negative growth rates. It is also the second largest two wheeler manufacturer country in the world. India is also the fifth largest commercial vehicle manufacturer.<br /><br />

The Indian automobile industry is becoming a budding hub for exporting sports utility vehicles (SUVs) to Europe, Southeast Asia and South Africa. Furthermore, hybrid and electronic vehicles are new expansion in the Indian automobile outlook. Nowadays, Indian manufacturers are focusing to develop new innovative products, technologies and resource chains.<br /><br />

The automobile plants in India are ranked among the best in the world in terms of quality and productivity. Following are the Indian automotive companies in India: Chinkara Motors, Force Motors, Hindustan Motors, International Cars & Motor Ltd, Mahindra, Premier Automobiles Limited, San Motors, Maruti Suzuki and Tata Motors.<br /><br />

Following are the foreign automotive companies in India: BMW India, Fiat India, Ford India, General Motors India, Chevrolet, Honda Cars India Limited, Hyundai Motor India, Mercedes-Benz India, Mitsubishi, Nissan Motor India, Renault India, Toyota Kirloskar, Volkswagen, Audi India, Skoda Auto India and Volkswagen India.<br /><br />

There are lots of commercial vehicle manufacturers in India. Some of the renowned names in this market are AMW, Eicher Motors, Force, Hindustan Motors, Mahindra & Mahindra, Premier, Tata Motors, Ashok Leyland, KaMAZ Vectra, Swaraj Mazda, Mahindra Navistar, BharatBenz, Piaggio and Volvo amongst others. 
<br /><br />
</div>

</div>
<div class="cars-section-2">
<div class="car-section-inner"><div class="car-border"><a href="https://automobiles.mapsofindia.com/cars/"><img src="images/car.jpg" alt="" border="0" width="114" height="89"/></a></div>
<div class="car-content">
<div class="car-heading"><a href="https://automobiles.mapsofindia.com/cars/" class="car-heading">Cars</a></div>
<div class="car-text">Cars have been the basic need of human these days. The Season of compact cars are emerging with lot many new cars launching in India uptil 2012. The premium hatchbacks are much in demand with the success of hyundai i20 and Honda Jazz. </div>
<div class="read-more"><a href="https://automobiles.mapsofindia.com/cars/" class="read-more">Read more</a></div>
</div></div>

<div class="car-section-inner"><div class="car-border"><a href="https://automobiles.mapsofindia.com/bikes/"><img src="images/bikes.jpg" alt="" border="0" width="114" height="89"/></a></div>
<div class="car-content">
<div class="car-heading"><a href="https://automobiles.mapsofindia.com/bikes/" class="car-heading">Bikes</a></div>
<div class="car-text">Bikes captured 76% market share in India in two wheeler market. The bikes well made for Indian roads are from the stable of Bajaj Auto, Hero Honda, TVS, Suzuki, Honda and find new bikes. </div>
<div class="read-more"><a href="https://automobiles.mapsofindia.com/bikes/" class="read-more">Read more</a></div>
</div></div>

</div>

<div class="cars-section-2">
<div class="car-section-inner"><div class="car-border"><a href="https://automobiles.mapsofindia.com/automobile-companies-in-india/commercial-vehicles-manufacturers/trucks.html"><img src="images/trucks.jpg" alt="" border="0" width="114" height="89"/></a></div>
<div class="car-content">
<div class="car-heading"><a href="https://automobiles.mapsofindia.com/automobile-companies-in-india/commercial-vehicles-manufacturers/trucks.html" class="car-heading">Trucks</a></div>
<div class="car-text">Trucks are being extreme part of logistics and transportation. Tata trucks are fit for Indian roads along with Ashok Leyland. Trucks comes in commercial vehicle and are available in various ranges. </div>
<div class="read-more"><a href="https://automobiles.mapsofindia.com/automobile-companies-in-india/commercial-vehicles-manufacturers/trucks.html" class="read-more">Read more</a></div>
</div></div>

<div class="car-section-inner"><div class="car-border"><a href="https://automobiles.mapsofindia.com/buses/"><img src="images/buses.jpg" alt="" border="0" width="114" height="89"/></a></div>
<div class="car-content">
<div class="car-heading"><a href="https://automobiles.mapsofindia.com/buses/" class="car-heading">Buses</a></div>
<div class="car-text">Buses in India saw its luxurious part with the advent of Volvo buses being run on highways. Volvo low floor buses run with the corroboration of various National highways being constructed. </div>
<div class="read-more"><a href="https://automobiles.mapsofindia.com/buses/" class="read-more">Read more</a></div>
</div></div>

</div>




<div class="netgainss" style="float:left;width: 300px;height:30px;margin: 0 auto;background: url(https://www.mapsofindia.com/advertisement1.png) top left no-repeat;padding: 10px 0 0;">

</div><br/>

<!-- Two panel ends here -->

</div>
<div class="">&nbsp</div>

<!-- Three panel ends here -->

<!-- Footer section start here -->
<div id="footer">
<div style="width:390px;margin:0 auto;color:#107979;font-size:13px">We follow <a href="http://www.editorialcalls.org/" style="color:#107979;text-decoration:underline;" rel="nofollow" target="_blank">editorialcalls.org</a> for border and boundary demarcations.</div>
<div id="footer-links"><ul><li><a href="http://www.mapsofindia.com/aboutus.html">About US</a></li>
<li>|</li>
<li><a href="mailto:operations@mapsofindia.com">Contact US</a></li>
<li>|</li>
<li><a href="https://automobiles.mapsofindia.com/feedback.html">Feedback</a></li>
<li>|</li>
<li><a href="https://automobiles.mapsofindia.com/rss.xml">RSS Feed</a></li>
<li>|</li>
<li><a href="https://automobiles.mapsofindia.com/links.html">Link To Us</a></li>
<li>|</li>
<li><a href="http://www.mapsofindia.com/disclaim.htm">Disclaimer</a></li>
<li>|</li>
<li><a href="https://automobiles.mapsofindia.com/sitemap.html">Site Map</a></li>
<li>|</li>
<li><a href="https://automobiles.mapsofindia.com/sitemap.xml">XML Sitemap</a></li>
<li>|</li>
<li><a href="http://www.mapsofindia.com/faq.html">FAQs</a></li></ul></div>
<div id="footer-logo"></div>
<div class="logo"><a href="http://www.mapsofindia.com/"><img src="images/logo-moi-footer.gif" width="239" height="62" alt="MapsofIndia.com"  border="0"/></a></div>
<div id="footer-text">
<div class="footer-text1"><b>Mapping Digiworld Pvt Ltd</b><br />

Fax : + 91-11-25547264 Mobile : +91(0) 9910492371<br />
solutions@mapsofindia.com</div>
</div>

<div style="clear:both"></div>

</div>
<!-- Footer section ends here -->

</div>
<!-- Main div ends here -->

</div>
<!-- Page width ends here -->
<!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];
(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();
_qevents.push({
qacct:"p-98f87jYQeyLZ6"
});
</script>
<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-98f87jYQeyLZ6.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->
<!-- Addthis plugin -->
<script type="text/javascript">
var addthis_config = addthis_config||{};
addthis_config.data_track_clickback = false;
</script>
<script type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56de761e91d668dc'  defer='defer'></script>
<!-- End Addthis plugin-->



</body>
</html>