<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6S2WJM8ZKC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6S2WJM8ZKC');
</script>
<title>Car Alternators</title>
<meta name="description" content="Alternators are electromechanical device used in automobiles to convert mechanical energy to alternating current electrical energy. While some of the alternators use rotating magnetic field, some use linear."/>
<meta name="keywords" content="Alternators, Function of Alternators, Alternators Used in Passenger Vehicles, Automotive Alternators, Alternators in Hybrid automobiles." />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="https://automobiles.mapsofindia.com/css/inner-page-style.css"/>
<script type='text/javascript' src='https://automobiles.mapsofindia.com/js/jquery.js'></script>
<script type='text/javascript' src='https://automobiles.mapsofindia.com/js/common.js'></script>
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') + 
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>
 
<script type='text/javascript'>
googletag.cmd.push(function() {
var mapLeader = googletag.sizeMapping().
  addSize([300, 350], [300, 50]).
  addSize([320, 400], [320, 50]).
  addSize([480, 200], [468, 60]).
  addSize([768, 200], [728, 90]).
  build();


googletag.defineSlot('/5535731/AutoMOI_below_H1_728*90', [728, 90], 'div-gpt-ad-1424152012902-0').addService(googletag.pubads());
googletag.defineSlot('/5535731/AutoMOI_Box_ad', [[300, 250], [336, 280]], 'div-gpt-ad-1424152012902-1').addService(googletag.pubads());
googletag.defineSlot('/5535731/AutoMOI_top_728*90', [728, 90], 'div-gpt-ad-1424152012902-2').addService(googletag.pubads());
googletag.defineSlot('/5535731/Auto.MOI-Mobile-300x250-bottom', [300, 250], 'div-gpt-ad-1467800025982-1').addService(googletag.pubads());
googletag.defineSlot('/5535731/Anchor-Ad', [320, 50], 'div-gpt-ad-1459837798318-0').addService(googletag.pubads());
googletag.defineSlot('/5535731/MOI-responsive-top', [[300, 50], [320, 50], [468, 60], [728, 90]], 'div-gpt-ad-1424152012902-4').defineSizeMapping(mapLeader).addService(googletag.pubads());
googletag.defineSlot('/5535731/Netgain_on_MOI_and_subdomain', [468, 60], 'div-gpt-ad-1424152012902-5').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.pubads().disableInitialLoad();
googletag.enableServices();
});
</script>
<meta name="atdlayout" content="auto">
<script type="text/javascript" src="https://go.automatad.com/geo/iiG9kV/afihbs.js" async></script>
<!-- mCanvas Site Code Starts Here (Required) -->
<script type="text/javascript">
	(function(){
		var param = {
			"pk": "dzl21",
			"aduid": 164
		};
		var d=top.document,s=d.createElement("script"),u=[],p;param.u=d.location.href;param.ref=d.referrer;param.phR=Math.random()+"_"+(new Date).getTime();for(p in param)if(param.hasOwnProperty(p))u.push(p+"="+encodeURIComponent(param[p]));s.src="//ic.ph.affinity.com/init.js?"+u.join("&");s.type="text/javascript";d.getElementsByTagName("head")[0].appendChild(s);
	})();
</script>
<!-- mCanvas Site Code Ends Here -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22494977-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
<!--
	accordian();
//-->
</script>
<script async src="https://cdn.unibotscdn.com/player/mvp/player.js"></script>
</head>
<body>
<!-- Page width start here -->
<div id="pagewidth">

<!-- Main div start here -->
<div id="main">
<!-- Header section start here -->
<div class="header">
<div id="logo"><a href="https://automobiles.mapsofindia.com/" id="link1"></a></div>
<div id="google-ads-header">
<!-- AutoMOI_top_728*90 -->
<div id='div-gpt-ad-1424152012902-2' style='width:728px; height:90px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1424152012902-2'); });
</script>
</div>
</div>
<div class="CL"></div>
<!-- Top navigation start here -->
<div id="top_Nav">
<script type="text/javascript">
<!--
	topnev();
//-->
</script>
</div>
<div class="social-box indexcategory">
						<button class="share-wrp">Share</button>
						<div class="newsocial" style="display: none;">
							<div class="newsocial1">
								<div class="addthis_toolbox">
									<div class="custom_images" >
										<a class="addthis_button_facebook at300b" title="Facebook" href="#"><img src="https://automobiles.mapsofindia.com/images/facebook.jpg" width="32" height="32" alt="Share to Facebook" /></a>
										<a class="addthis_button_twitter at300b" title="Twitter" href="#"><img src="https://automobiles.mapsofindia.com/images/twitter.jpg" width="32" height="32" alt="Share to Twitter" /></a>
										<a class="pin-it-button addthis_button_pinterest_share at300b" target="_blank" title="Pinterest" href="#"><img src="https://automobiles.mapsofindia.com/images/pinterest.jpg" title="Pin It" alt="Pin It" /></a>
										<a class="addthis_button_compact at300m" href="#"><img src="https://automobiles.mapsofindia.com/images/adthis.jpg" width="32" height="32" alt="Share" /></a>
									</div>
								<div class="atclear"></div></div>
							</div>
						</div>
					</div>
<!-- Top navigation ends here -->
</div>
<!-- Header section ends here -->

<!-- Three panel start here -->
<div id="container">

<!-- left panel start here -->
<div id="left-panel">
<div style="margin:2px 0 5px 0px;">
<script type="text/javascript">
    google_ad_client = "ca-pub-8993220319430392";
    google_ad_slot = "8323784367";
    google_ad_width = 160;
    google_ad_height = 90;
</script>
<!-- A.MOI link unit -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<script type="text/javascript">
<!--
	leftpanel();
//-->
</script>

</div>
<!-- left panel ends here -->

<!-- Two panel start here -->
<div id="twopanel">
<div id="bread-crumb"><div  Class="navigation"><a Href="https://automobiles.mapsofindia.com/" Title="Home" >Home</a> &raquo;  <a Href="https://automobiles.mapsofindia.com/automobile-components-and-spares/" Title="Automobile Components And Spares">Automobile Components And Spares</a> &raquo; Car Alternators</div></div>
<div class="content-text"><h1>Car Alternators</h1></div>
<div class="CL"></div>
<div id="google-ads-h1"><!-- AutoMOI_below_H1_728*90 -->
<div id='div-gpt-ad-1424152012902-0' style='width:728px; height:90px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1424152012902-0'); });
</script>
</div></div>
<div class="CL"></div>
<!-- content section start -->
<div class="content-text">
Truck, derived from the Greek word "trochos" meaning "wheel" is a vehicle that carries goods and materials. While there are luxury cars to carry people around, there are trucks that carry large and heavy goods and materials from one place to another.<br /><br />

<div id="div-ub-mapsofindia.com_1704360615941">
    <script>
       window.unibots = window.unibots || { cmd: [] };
       unibots.cmd.push(function() { unibotsPlayer("mapsofindia.com_1704360615941") });
   </script>
</div>
<!-- AutoMOI_Box_ad -->
<div id='div-gpt-ad-1424152012902-1' style='width:336px; height:280px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1424152012902-1'); });
</script>
</div>

<b>Alternators</b> are electromechanical device used in automobiles to convert mechanical energy to alternating current electrical energy. While some of the alternators use rotating magnetic field, some use linear . 
<br /><br />
Earlier alternators were developed by Michael Faraday and Hippolyte Pixii. Later Faraday developed the "rotating rectangle. Lord Kelvin and Sebastian Ferranti also developed early alternators. With time, alternators were designed for varying alternating-current frequencies.
<br /><br />
<b>Function of Alternators</b> 
<br /><br />
The functioning of alternators is same as that of the DC generators. As the magnetic field around a conductor changes, a current is induced in the conductor. The rotating magnet or the rotor turns and it cuts the field across the conductors. Thus, an electrical current is produced which causes the rotor to turn. This rotating magnetic field causes an AC voltage in the stator windings. 
<br /><br />
In automobiles, alternators are used to charge the battery and to power a car's electric system when its engine is running. One of the biggest advantages of using alternators is that you do not have to use commutator. Therefore, the alternator becomes simpler, lighter, less expensive and rougher. 
<br /><br />
Alternators used in passenger vehicles and light trucks use Lundell or claw-pole field construction. Salient-pole alternators are used in larger vehicles. The modern day automotive alternators have a voltage regulator built into them. The efficiency of these alternators is limited by various factors like iron loss, fan-cooling loss, bearing loss, copper loss and the voltage drop in the diode bridges.
<br /><br />
The automotive alternators used in buses are very large. The old automobiles with negligible lighting and electronic devices have 30-ampere alternator. The 70 amperes alternators are used in passenger cars and light trucks. The largest automotive alternators are mostly water-cooled or oil-cooled.
<br /><br />
<b>Alternators in Hybrid automobiles</b><br /><br />
Alternators in Hybrid automobiles are combined motor or generator that not only crank the internal combustion engine when starting, but also provides it with additional mechanical power for accelerating. They also charge a large storage battery when the vehicle is running at steady speed. 
<br /><br />
<span class="dateupdated">Last Updated on 1/3/2012</span><br /><br />




<!-- Links Block start -->
<div class="intnl_contr_link_block">
<div class="intnl_heading"><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/">Automobile Components and Spares</a></div>
<div class="intrl_links">

<ul>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/assembly-flywheel.html">Assembly Flywheel</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/auto-accessories.html">Auto Accessories</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/car-batteries.html">Car Batteries</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/car-suspension.html">Car Suspension</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/car-radiators.html">Car Radiators</a></li>
</ul>
</div>
<div class="intrl_links">
<ul>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/auto-spares-parts-dealers.html">Auto Spare Parts Dealers </a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/automobile-components.html">Automobile Components</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/auto-spares.html">Auto Spares</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/car-alternators.html">Car Alternators</a></li>
</ul>
</div>
<div class="intrl_links">
<ul>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/shock-absorbers.html">Shock Absorbers</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/car-thermostats.html">Car Thermostats</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/clutch-plate.html">Clutch Plate</a></li>
<li><a href="https://automobiles.mapsofindia.com/automobile-components-and-spares/water-pumps.html">WaterPumps</a></li>
</ul>
</div>
</div>
<!-- Links Block start --> <br /><br />

</div><br /><br />
<!-- content section ends -->


</div>
</div>
<!-- Two panel ends here -->

</div>
<!-- Three panel ends here -->

<!--new video ad code-->

<!--new video ad code-->
<div class="netgainss" style="float:none;width: 300px;height:30px;margin: 0 auto;background: url(https://www.mapsofindia.com/advertisement1.png) top left no-repeat;padding: 10px 0 0;">

</div><br/>
<!-- Footer section start here -->
<div id="footer">
<script type="text/javascript">
<!--
	footer();
//-->
</script>
</div>
<!-- Footer section ends here -->

</div>
<!-- Main div ends here -->

</div>
<!-- Page width ends here -->

<!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];
(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();
_qevents.push({
qacct:"p-98f87jYQeyLZ6"
});
</script>
<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-98f87jYQeyLZ6.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->
<!-- Addthis plugin -->
<script type="text/javascript">
var addthis_config = addthis_config||{};
addthis_config.data_track_clickback = false;
</script>
<script type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56de761e91d668dc'  defer='defer'></script>
<!-- End Addthis plugin-->
 <script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/5535731/firstimpression-1x1-tracking', [1, 1], 'div-gpt-ad-1501829467039-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
 <!-- /5535731/firstimpression-1x1-tracking -->
<div id='div-gpt-ad-1501829467039-0' style='height:1px; width:1px;'>
<script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1501829467039-0'); });
</script>
</div>
</body>
</html>