body
{
margin-top:0px;
margin-left:0px;
}

h1
{
display:inline
}

h2
{
display:inline
}

h3
{
display:inline
}

h4
{
display:inline;
}

.topbar
{
font-size:12px;
font-weight:normal;
color:#AB3D29;
text-decoration:none;
}
.topbar1
{
font-size:16px;
font-weight:bold;
color:#AB3D29;
text-decoration:none;
}

.vertical
{
background-image:url(../new-images/dotline_vertical.jpg);
background-repeat:repeat-y;
height:600px;
width:4px;
}

.welcome
{
font-size:14px;
font-family:verdana;
font-weight:normal;
color:#104971;
text-decoration:none;
padding-left:5px;
}

.jobsbox
{
background-image:url(../new-images/box_bg.jpg);
background-repeat:repeat-y;
height:100px;
width:163px;
}

.global
{
font-size:12px;
font-family:verdana;
font-weight:bold;
color:#064982;
text-decoration:none;
padding-left:5px;
}


.jobslist
{
font-size:12px;
font-family:verdana;
font-weight:bold;
color:#ffffff;
text-decoration:none;
padding-left:5px;
background-color:#176FA8;
border-right:1px solid #ffffff;
}

.jobslist:hover
{
text-decoration:underline;
}

.jobslist1
{
font-size:12px;
font-family:verdana;
font-weight:bold;
color:#ffffff;
text-decoration:none;
padding-left:5px;
background-color:#176FA8;
}

.jobslist1:hover
{
text-decoration:underline;
}


.homelinks
{
font-size:12px;
font-family:verdana;
font-weight:bold;
color:#176FA8;
text-decoration:none;
padding-left:5px;
background-color:#BEDDF9;
padding-top:2px;
}

.homelinks1
{
font-size:12px;
font-family:verdana;
font-weight:bold;
color:#176FA8;
text-decoration:none;
padding-left:5px;
background-color:#BEDDF9;
border-right:2px solid #176FA8;
padding-top:2px;
}




.global12
{
font-size:12px;
font-family:verdana;
font-weight:bold;
color:#064982;
text-decoration:underline;
}

.globalwhite
{
font-size:12px;
font-family:verdana;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
padding-left:5px;
}

.leftlinks
{
font-size:13px;
font-family:verdana;
font-weight:normal;
color:#575B60;
text-decoration:none;
padding-left:2px;
}

.leftlinks12
{
font-size:13px;
font-family:verdana;
font-weight:normal;
color:#575B60;
text-decoration:underline;
padding-left:2px;
}


.text
{
font-size:11px;
font-family:verdana;
font-weight:normal;
color:#000000;
text-decoration:none;
text-align:justify;
}

.jobs
{
font-size:12px;
font-family:verdana;
font-weight:bold;
color:#104971;
text-decoration:none;
text-align:justify;
}

.jobslinks
{
font-size:12px;
font-family:verdana;
font-weight:normal;
color:#1F1F1F;
text-decoration:none;
text-align:justify;
padding-left:5px;
}

.textcenter
{
font-size:10px;
font-family:verdana;
font-weight:normal;
color:#000000;
text-decoration:none;
padding-left:2px;

}

.us
{
font-size:12px;
font-family:verdana;
font-weight:normal;
text-align:center
color:#000000;
text-decoration:none;
}

.contact
{
font-size:12px;
font-family:verdana;
font-weight:bold;
padding-left:6px
color:#000000;
text-align:center;
text-decoration:none;
}


.twittext
{
font-size:14px;
font-family:arial;
font-weight:bold;
color:#104971;
text-decoration:none;
padding-left:5px;
}

.twittext:hover
{
font-size:14px;
font-family:arial;
font-weight:bold;
color:#104971;
text-decoration:underline;
padding-left:5px;
}